DB_USERNAME="docker"
DB_PASSWORD="docker"
DB_HOST="localhost"
DB_PORT="5432"
DB_DATABASE="route_bastion"
DB_SCHEMA="public"
SERVER_PORT="8080"
ENCRYPTION_KEY="K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
