name: "Route-Bastion-Broker"

volumes:
  cache_data:
    driver: local
  db_data:
    driver: local
  kong_db_data:
    driver: local

networks:
  metrics:
    driver: bridge

services:
  # ------------------------
  # Core Services
  # ------------------------
  api:
    profiles:
      - prod
    build:
      context: .
      dockerfile: build/app.Dockerfile
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
    ports:
      - 8090-8092:8090

  api-dev:
    image: cosmtrek/air:latest
    profiles:
      - dev
    working_dir: /app
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
      seeds:
        condition: service_completed_successfully
    ports:
      - 8090:8090
    volumes:
      - .:/app

  api-debug:
    profiles:
      - debug
    build:
      context: .
      dockerfile: build/app.debug.Dockerfile
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
      seeds:
        condition: service_completed_successfully
    ports:
      - 8090:8090
      - 40000:40000 # Delve Debugger

  # ------------------------
  # Supporting Services
  # ------------------------
  api-gateway:
    image: kong:3.9
    container_name: "kong-api-gateway"
    profiles:
      - prod
    depends_on:
      database:
        condition: service_healthy
    environment:
      - "KONG_DATABASE=off"
      - "KONG_ADMIN_LISTEN=0.0.0.0:8001"
      - "KONG_ADMIN_GUI_URL=http://localhost:8002"
      - "KONG_DECLARATIVE_CONFIG=/kong/config.yaml"
      - "KONG_PROXY_ACCESS_LOG=/dev/stdout"
      - "KONG_ADMIN_ACCESS_LOG=/dev/stdout"
      - "KONG_PROXY_ERROR_LOG=/dev/stderr"
      - "KONG_ADMIN_ERROR_LOG=/dev/stderr"
    volumes:
      - "./docker/kong/config.yaml:/kong/config.yaml"
    ports:
      - "8000:8000" # Proxy
      - "8001:8001" # API (Admin)
      - "8002:8002" # UI (Admin)
      - "8443:8443" # Proxy SSL (HTTPS)
      - "8444:8444" # API (Admin) (HTTPS)

  api-gateway-dev:
    image: kong:3.9
    container_name: "kong-api-gateway-dev"
    profiles:
      - dev
      - debug
    depends_on:
      database:
        condition: service_healthy
    environment:
      - "KONG_DATABASE=off"
      - "KONG_ADMIN_LISTEN=0.0.0.0:8001"
      - "KONG_ADMIN_GUI_URL=http://localhost:8002"
      - "KONG_DECLARATIVE_CONFIG=/kong/config.yaml"
      - "KONG_PROXY_ACCESS_LOG=/dev/stdout"
      - "KONG_ADMIN_ACCESS_LOG=/dev/stdout"
      - "KONG_PROXY_ERROR_LOG=/dev/stderr"
      - "KONG_ADMIN_ERROR_LOG=/dev/stderr"
    volumes:
      - "./docker/kong/dev/config.yaml:/kong/config.yaml"
    ports:
      - "8000:8000" # Proxy
      - "8001:8001" # API (Admin)
      - "8002:8002" # UI (Admin)
      - "8443:8443" # Proxy SSL (HTTPS)
      - "8444:8444" # API (Admin) (HTTPS)

  database:
    image: dhi.io/postgres:18.1-alpine3.22-dev
    container_name: "postgresql-db"
    restart: always
    profiles:
      - dev
      - debug
      - prod
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=route_bastion
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U docker -d route_bastion'"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s
    volumes:
      - "db_data:/var/lib/postgresql/data"

  cache:
    image: redis:7.4.2
    container_name: "redis-cache"
    profiles:
      - dev
      - debug
      - prod
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 15s
    volumes:
      - "cache_data:/data"

  # jaeger:
  #   image: jaegertracing/all-in-one:1.57
  #   container_name: 'jaeger'
  #   environment:
  #     - "COLLECTOR_OTLP_ENABLED=true"
  #     - "COLLECTOR_ZIPKIN_HOST_PORT=:9411"
  #   ports:
  #     - "16686:16686" # UI
  #     - "6831:6831/udp" # Traces UDP
  #     - "14268:14268" # Traces HTTP
  #     - "4317:4317" # OpenTelemetry/gRPC
  #     - "4318:4318" # OpenTelemetry/HTTP

  # ------------------------
  # Migration Service
  # ------------------------
  migrations:
    image: migrate/migrate
    profiles:
      - dev
      - debug
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./sql/migrations:/migrations
    command:
      [
        "-path",
        "migrations",
        "-database",
        "postgresql://docker:docker@database:5432/route_bastion?sslmode=disable&search_path=public",
        "up",
      ]
    restart: on-failure

  # ------------------------
  # Seed Service (Dev only)
  # ------------------------
  seeds:
    image: postgres:18.1-alpine
    container_name: "seeder"
    profiles:
      - dev
      - debug
    depends_on:
      migrations:
        condition: service_completed_successfully
    volumes:
      - ./sql/seeds:/seeds:ro
    environment:
      - PGPASSWORD=docker
    command: [
        "sh",
        "-c",
        "
        psql postgresql://docker:docker@database:5432/route_bastion?sslmode=disable \
        -f /seeds/001_dev_data.sql
        ",
      ]
    restart: "no"
