_format_version: "3.0"
_transform: true

services:
  - name: Broker
    host: brokers
    port: 8080
    protocol: http
    path: "/"
    connect_timeout: 10000
    retries: 3
    routes:
      - name: "Broker-API"
        protocols:
          - http
          - https
        paths:
          - "/health"
          - "/v1/optimizations"
          - "/v1/back-office/customers"
          - "/v1/back-office/providers"
        strip_path: false

upstreams:
  - name: brokers
    slots: 10
    algorithm: round-robin
    targets:
      - target: route-bastion-broker-api-broker-dev-1:8080
        weight: 100

plugins:
  - name: cors
    enabled: true
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      headers:
        - Accept
        - Content-Type
        - X-RouteBastion-API-Key
