_format_version: "3.0"
_transform: true

services:
  - name: Broker
    host: host.docker.internal
    protocol: http
    path: "/"
    connect_timeout: 10000
    retries: 3
    routes:
      - name: "Broker-API"
        protocols:
          - http
          - https
        paths:
          - "/health"
          - "/v1/customers"
          - "/v1/optimizations"
        strip_path: false

upstreams:
  - name: host.docker.internal
    slots: 10
    algorithm: round-robin
    targets:
      - target: host.docker.internal:8080
        weight: 100
      # - target: host.docker.internal:8081
      # weight: 100
      # - target: host.docker.internal:8082
      # weight: 100

plugins:
  - name: cors
    enabled: true
    config:
      origins:
        - "*"
      methods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      headers:
        - Accept
        - Content-Type
        - RouteBastion-API-Key
